body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20 20px;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #e9b017;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #e9b017;
}



.search-cart {
    display: flex;
}

.search-icon, .cart-icon {
    margin-left: 15px;
    cursor: pointer;
    font-size: 1.2em;
    color: #fff;
    transition: color 0.3s;
}

.search-icon:hover, .cart-icon:hover {
    color: #e9b017;
}


.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: url('home\ img.jpg') no-repeat center center/cover;
}

.hero-content {
    text-decoration: solid;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    padding: 30px;
    max-width: 600px;
    
}

.hero-content h1 {
    font-size: 3em;
}

.hero-content p {
    margin: 20px 0;
}

.hero-content button {
    padding: 10px 20px;
    background-color: #e9b017;
    border: none;
    cursor: pointer;
    color: #000;
}




.about-us {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: #111;
}

.about-us .content {
    flex: 1;
    color: #fff;
    padding-right: 30px;
}

.about-us .content h2 {
    font-size: 2.5em;
    color: #e9b017;
}

.about-us .content h3 {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
}

.about-us .content p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.about-us .content button {
    padding: 10px 20px;
    background-color: #e9b017;
    border: none;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
}

.about-us .content button:hover {
    background-color: #d5a015;
}

.about-us .image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-us .image img {
    max-width: 100%;
    border-radius: 10px;
}






.menu {
    padding: 50px;
    background-color: #111;
    color: #fff;
    text-align: center;
}

.menu h2 {
    font-size: 2.5em;
    color: #e9b017;
    margin-bottom: 30px;
}

.menu-items {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}

.menu-item img {
    max-width: 100%;
    border-radius: 10px;
}

.menu-item h3 {
    font-size: 1.5em;
    margin: 20px 0;
}

.menu-item .price {
    font-size: 1.2em;
    margin: 10px 0;
}

.menu-item .price span {
    text-decoration: line-through;
    color: #999;
    margin-left: 10px;
}

.menu-item button {
    padding: 10px 20px;
    background-color: #e9b017;
    border: none;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-item button:hover {
    background-color: #d5a015;
}



.reviews {
    padding: 50px;
    background-color: #111;
    color: #fff;
    text-align: center;
}

.reviews h2 {
    font-size: 2.5em;
    color: #e9b017;
    margin-bottom: 30px;
}

.review-cards {
    display: flex;
    justify-content: space-between;
}

.review-card {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}

.review-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.review-card h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.review-card p {
    font-size: 1em;
    margin-bottom: 20px;
    line-height: 1.6;
}

.rating {
    font-size: 1.2em;
    color: #e9b017;
}



.contact {
    padding: 50px;
    background-color: #111;
    color: #fff;
    text-align: center;
}

.contact h2 {
    font-size: 2.5em;
    color: #e9b017;
    margin-bottom: 30px;
}

.contact-form {
    display: flex;
    justify-content: center;
}

.contact-form form {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #e9b017;
    border: none;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #d5a015;
}
